{% extends 'base.html' %}


{% block content %}

<body class="gainsboro-light">

    <p class="xx-large center-text">Sign Up. Start shopping now!</p>
    <div class="signup-box">
        <div class="form-box mt-5">
            

            <form method="POST">
                <!-- hidden tag required (from secret_tag in config and .env) to authenticate form -->
                {{ register_form.hidden_tag() }}
                <div style="width: 600px; margin: auto;">
                    <label for="un" class="form-label m0">&nbsp;Username</label>
                    {{ register_form.username(class='form-control mb-1', id="un", placeholder='Create a Username') }}
                    <label for="em" class="form-label m0">&nbsp;Email</label>
                    {{ register_form.email(class='form-control mb-1', id="un", placeholder='Enter an Email') }}
                    <label for="pw" class="form-label m0">&nbsp;Password</label>
                    {{ register_form.password(class='form-control mb-1', id="pw", placeholder='Create a Password') }}
                    {{ register_form.confirm_password(class='form-control', id="cpw", placeholder='Confirm Password') }}
                    <br>
                </div> 
                {{ register_form.register(class='btn btn-dark', id='register-btn') }}
            </form>

        </div>
    </div>
    <a class="sign-in center-text large" href="/login">Sign In?</a>




</body>
{% endblock %}